footer {
    display: flex;
    margin: 0 auto 80px;
    width: 75%;
    background: $white;
    color: $black;
    .f-left {
        width: 50%;
        border-right: 1px solid rgba(0, 0, 0, 0.2);
        form {
            margin: 50px 0;
            padding: 20px 50px;
            display: flex;
            flex-direction: column;
            font-family: $inter;
            color: $grey;
            font-size: 0.9rem;
            letter-spacing: 2px;
            text-transform: uppercase;
            input,
            textarea {
                margin: 20px 0;
                resize: none;
                padding: 15px 20px;
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.1);
            }
        }
        .button {
            @include button;
            width: 33%;
            margin: 30px 0;
            padding: 20px;
        }
    }
    .f-right {
        display: flex;
        .r-left {
            display: grid;
        }
        .r-right {
            display: grid;
        }
        ul {
            display: flex;
            justify-content: space-between;
            width: 33%;
            margin: 0 auto;
        }
        a {
            color: $black;
            border: 1px solid #ccc;
            border-radius: 50px;
            text-decoration: none;
            width: 44px;
            height: 44px;
            display: block;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.4s;
            &:hover {
                color: $white;
                background: $black;
            }
        }
    }
}