header {
    margin: 200px auto;
    color: $white;
    text-align: center;
    h1 {
        width: 38%;
        margin: 0 auto;
        font-family: $inter;
        text-transform: uppercase;
        font-size: 5rem;
        padding-bottom: 60px;
    }
    p {
        font-family: $merri;
        font-size: 1.3rem;
        font-style: italic;
        padding-bottom: 60px;
    }
    div {
        position: relative;
    }
    i:before {
        content: "";
        font-size: 1.5rem;
        margin-top: 35%;
        position: absolute;
        height: 1px;
        background: rgba(0, 0, 0, 0.082);
        top: 0;
        transform: translate(-50%)
    }
    i {
        position: absolute;
        font-size: 1.2rem;
        border: 2px solid white;
        border-radius: 50px;
        width: 80px;
        height: 80px;
    }
}