nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $inter;
    font-size: 0.8rem;
    margin: 0 auto;
    width: 75%;
    background: rgba($color: $white, $alpha: 0.3);
    ul {
        display: flex;
        justify-content: space-around;
        li {
            text-transform: uppercase;
            color: $white;
        }
    }
    .nav1 {
        ul {
            li {
                padding: 35px 10px;
                margin-right: 5px;
                letter-spacing: 2px;
                transition: 0.2s;
                &:hover {
                    cursor: pointer;
                    color: $black;
                    background: $white;
                }
            }
        }
    }
    .nav2 {
        ul {
            li {
                font-size: 1.2rem;
                transition: 0.2s;
                margin: 0 30px 0 30px;
                &:hover {
                    cursor: pointer;
                    transform: scale(1.3);
                }
            }
        }
    }
}